@import "tailwindcss";
@source "../../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";
@import "@repo/styles/variables.css";

@theme inline {
  --color-background: var(--makra-background-light);
  --color-foreground: var(--makra-foreground-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--makra-background-light);
  color: var(--makra-foreground-dark);
}
